body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;

}

.encabezado {
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

.titulo {
    margin: 0;
    font-size: 24px;
    color: white;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.titulo_galeria_1{
    text-align: center;
}

.cortes{
    margin: 10px 10px;
    justify-content: space-between;
}


.barba{
    margin: 10px 10px;
    justify-content: space-between;

}

.titulo_galeria_2{
    text-align: center;
}

.cortes_mujeres{
    margin: 10px 10px;
    justify-content: space-between;
}
.tinte_mujeres{
    margin: 10px 10px;
    justify-content: space-between;
}

.tratamiento_mujeres{
    margin: 10px 10px;
    justify-content: space-between;
}

.pie {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}