body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url(../css/fondo/fondo\ negro.jpg);
    background-size: cover;
}

.encabezado {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    background-image: url(../css/fondo/fondo\ blanco.png);
    background-size: cover;
    height: 10%;
    width: 100%;
}

.titulo {
    margin: 0;
    font-size: 24px;
}

.menu a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.descripcion{
    display: flex;
    margin: 20px 20px;
    padding: 20px;
    background-color: white;
    image-orientation: right;
    border-radius: 5px;
}
.servicios{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
    padding: 20px;

}

.color{
    background-color: white;
    margin: 10px;

}

.peluqueria{
    background-color: white;
    margin: 10px 10px;
}

.barberia{
    background-color: white;
    margin: 10px 10px;
}



.texto1{
    text-align: left;
}

.imagen1{
    width: 30%;
    height: auto;
    margin-top: 20px;
    align-items: right;
}

.pie {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}